<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trinitymirror.networkmonitor">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        android:protectionLevel="signature" />

    <application>
        <service
            android:exported="false"
            android:name=".job.MonitorJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <activity
            android:name="com.trinitymirror.networkmonitor.ui.PermissionsDialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/MirrorNetworkMonitor.PermissionsDialog" />

    </application>
</manifest>
